div {
  color: #f44336;
  color: #9c27b0;
  color: #3f51b5;
  color: #03a9f4;
  color: #009688;
  color: #8bc34a;
  color: #ffeb3b;
  color: #ff9800;
  color: #795548;
  color: #607d8b;
  color: #e91e63;
  color: #673ab7;
  color: #2196f3;
  color: #00bcd4;
  color: #4caf50;
  color: #cddc39;
  color: #ffc107;
  color: #ff5722;
  color: #ef9a9a;
  color: #ce93d8;
  color: #9fa8da;
  color: #81d4fa;
  color: #80cbc4;
  color: #c5e1a5;
  color: #fff59d;
  color: #ffcc80;
  color: #bcaaa4;
  color: #b0bec5;
  color: #f48fb1;
  color: #b39ddb;
  color: #90caf9;
  color: #80deea;
  color: #a5d6a7;
  color: #e6ee9c;
  color: #ffe082;
  color: #ffab91;
  color: #b71c1c;
  color: #4a148c;
  color: #1a237e;
  color: #01579b;
  color: #004d40;
  color: #33691e;
  color: #f57f17;
  color: #e65100;
  color: #3e2723;
  color: #263238;
  color: #880e4f;
  color: #311b92;
  color: #0d47a1;
  color: #006064;
  color: #1b5e20;
  color: #827717;
  color: #ff6f00;
  color: #bf360c;
}
